<div class="container-fluid noPadding">
  <br>


  <Div class="container pb-5">

    <div class="card borderRadius cardShadow">

      <ion-row>
        <ion-col>

          <ion-item lines="none">
            <p class="Hitxt mb-0 ">Showing next meter</p>

            <ion-note class=" Txt1" slot="end">
              {{this.global.AllFilterSearch.length}}/{{this.global.AllConsumerMeters.length}}
            </ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <br>
    <div class="card cardShadow borderRadius mb-3" *ngFor="let item of this.global.FilterSearchShow">

      <ion-item-sliding id="">
        <ion-item lines="none" class="borderRadius">
          <ion-note slot="start" class="IonNote" >
            <ion-label>
              <p class="Hitxt mb-0 ">Meter No</p>
              <span class="Txt1 ">{{item.MeterNo}}</span>

              <p class="Hitxt mb-0 ">Consumer </p>

              <span class="Txt1">{{item.ConsumerName}}</span>
            </ion-label>
          </ion-note>

          <ion-note class="Hitxt" slot="end">
            <ion-label class="textRight">
              <p class="Hitxt mb-0 ">Supp No</p>
              <span class="Txt1"> {{item.SuppMeterNo}}</span>
              <br>
              <p class="Hitxt mb-0 ">Consumer No</p>
              <span class="Txt1"> {{item.ConsumerNo}}</span>
            </ion-label>
          </ion-note>
        </ion-item>

        <ion-item-options side="start" (ionSwipe)="goto_MeterReading(item)">
          <ion-item-option style="background: #e1f4ff;" (click)="goto_MeterReading(item)">
            <img slot="top" src="assets/img/meterfb.png" alt="meterfb" class="meter" />
            <span class="Txt1">Meter Reading</span>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end" (ionSwipe)="goto_MeterFeedback(item)">

          <ion-item-option (click)="goto_MeterFeedback(item)" style="background: #e1f4ff;">

            <img slot="top" src="assets/img/meterfb.png" alt="meterfb" class="meter" />
            <span class="Txt1">Meter Feedback</span>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </div>

   
    <ion-infinite-scroll (ionInfinite)="LoadMoreData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>


  </Div>

</div>