<div class="container-fluid noPadding">
  <div class="BgCard">

    <div class="card noborder nobg">
      <div class="card-body pt-0">
        <ion-row>
          <ion-col size="12" class="animate__animated ">
            <p class="Hitxt lightTxt ">Hello !</p>
            <span class="TxtName lightTxt" *ngIf="this.global.UserData ">{{this.global.UserData.userName}}</span>

            <p class="Hitxt lightTxt ">Your Current Batch is {{this.global.UserData.branchName}}</p><br>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </div>

  <div class=" container marginBottom">
    <div class="card ClasTimeDiv nobg textCenter cardShadow borderRadius">
      <div class="card-body cardBodyPadding">
        <ion-row>
          <ion-col size="12" class="animate__animated aanimate__fadeInUp">
            <p class="Hitxt">Today is
            </p>
            <span class="DateTxt TxtGrey">{{TodayDate}}</span>

          </ion-col>
        </ion-row>
      </div>
    </div>


    <ion-row>
      <ion-col>
        <div class="card cardShadow borderRadius">
          <div class="card-body">
            <ion-row>
              <ion-col size="7" class="alignSelf">

                <p class="NumTxt">
                  <span class="lightgrey">{{GetMeterFeedbackAddedCount()}}</span> / <span *ngIf="this.global.AllConsumerMeters">{{this.global.AllConsumerMeters.length}}</span>
                </p>
                <span class="Hitxt">Meter Reading Added</span>



              </ion-col>
              <ion-col size="5" class="text-center">
                <div class="set-size charts-container">
                  <!-- <div class="pie-wrapper progress-10 style-2"> -->
                    <circle-progress
                    [percent]="progress"
                    [radius]="70"
                    [outerStrokeColor]="'#4882c2'"
                    [innerStrokeColor]="'#e7e8ea'"
                    [showSubtitle]="true"
                    [animation]="true"
                    [animationDuration]="300"
                  ></circle-progress>
                  <div class="shadow"></div>
                    <!-- <span class="label">{{percentageMeterFeedbackDone()}}<span class="smaller">%</span></span>
                    
                     -->
                     
                    <!-- <div class="pie">
                      <div class="left-side half-circle"></div>
                      <div class="right-side half-circle"></div>
                    </div> -->
                    
                  <!-- </div> -->
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <br>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col class="animate__animated animate__fadeInLeft">
        <div class="card cardShadow borderRadius  text-center">
          <div class="card-body"  (click)="GotoSyncData()">
            <ion-row>
              <ion-col size="12">
                <div>
                  <img class="DashIcon" src="assets\img\dashboardimg\sync.png" alt="Sync Data" />

                </div>
              </ion-col>
           

              <ion-col size="12" class="pt-0 ">
                <!-- <p class="">

                  <span class="Hitxt">Today</span>
                </p> -->
                <span class="Txt1">{{LastSynced}}</span>
                <p class="">
                  <span class="Hitxt">Last Synced</span>
                </p>
              </ion-col>
            </ion-row>
          </div>
        </div>



      </ion-col>
      <ion-col class="animate__animated animate__fadeInRight">
        <div class="card cardShadow borderRadius text-center">
          <div class="card-body" (click)="GotoFetchData()">
            <ion-row>
              <ion-col size="12">
                <div>
                  <img class="DashIcon" src="assets\img\dashboardimg\fetch.png" alt="Sync Data" />

                </div>
              </ion-col>
             
              <ion-col size="12" class="pt-0" >
                <p class="">

                  <!-- <span class="Hitxt">{{todaay}}</span> -->
                </p>
                <span class="Txt1">{{LastFetched}}</span>
                <p class="">
                  <span class="Hitxt">Last Fetched</span>
                </p>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>






    <ion-row>
      <ion-col class="animate__animated animate__fadeInLeft">


        <div class="card cardShadow borderRadius text-center">
          <div class="card-body">
            <ion-row>
              <ion-col>
                <div>
                  <img class="DashIcon" src="assets\img\dashboardimg\fetch.png" alt="Sync Data" />

                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span class="Txt1">{{GetUnSyncData()}}</span>
                <p class="">
                  <span class="Hitxt">UnSynced data</span>
                </p>
              </ion-col>
              
            </ion-row>
          </div>
        </div>
      </ion-col>
      <ion-col class="animate__animated animate__fadeInRight">


        <div class="card cardShadow borderRadius text-center ">
          <div class="card-body">
            <ion-row>
              <ion-col>
                <div>
                  <img class="DashIcon" src="assets\img\dashboardimg\fetch.png" alt="Sync Data" />

                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span class="Txt1">10</span>
                <p class="">
                  <span class="Hitxt">Last Reading</span>
                </p>
              </ion-col>
            </ion-row>
          </div>
        </div>

      </ion-col>

    </ion-row>


      
  </div>



</div>