

<div class="container-fluid noPadding ContainerHeight">

  <br>
    <div class="container textCenter">
    
      <div class="card cardShadow borderRadius">
        <div class="card-body ">
          <br>
          <br>
  
          <button type="button" class="btn btnCircle">
           FETCH
            <br>FROM<BR>
              SERVER
          </button>
          <br>
          <br>
          <br>
  
          <p class="Hitxt">Last Fetched on</p>
          <span class="Txt1">Wed 21 April 2021 11:07 AM</span>
          <br>
          <br>
  
  
        </div>
      </div>
    </div>
  </div>