<div class="container-fluid noPadding ContainerHeight mb-5">

  <br>
  <div class="container textCenter">

    <div class="card cardShadow borderRadius">
      <div class="card-body ">
        <br>
        <br>

        <button type="button" class="btn btnCircle">
          FETCH
          <br>FROM<BR>
          SERVER
        </button>
        <br>
        <br>
        <br>

        <p class="Hitxt">Last Fetched on</p>
        <span class="Txt1">Wed 21 April 2021 11:07 AM</span>
        <br>
        <br>


      </div>
    </div>
    <br>
    <div class="card borderRadius cardShadow">

      <ion-row>
        <ion-col>

          <p class="Hitxt mb-0 pt-2 pb-2">Last 10 Synced Data</p>
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Sr No.</th>
                  <th>Sync Date</th>
                  <th>Records Sync</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Apr 11 2:00PM</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Apr 11 2:00PM</td>
                  <td>100</td>
                </tr>

              </tbody>
            </table>
          </div>

        </ion-col>
      </ion-row>
    </div>
  </div>
</div>