<div class="container-fluid noPadding ContainerHeight mb-5">

  <br>
  <div class="container textCenter">

    <div class="card cardShadow borderRadius">
      <div class="card-body ">
        <br>
        <br>

        <button type="button"  (click)="btnFetch()" class="btn btnCircle">
          <span [hidden]="!global.btnFetch" id="IDFetchServer">
            FETCH
          <br>FROM<BR>
          SERVER
          </span>
             <span  [hidden]="!global.isFetched" id="IDFetch">
          <img src="assets\img\gif\syncing.gif">
        </span>

        <span [hidden]="!global.DoneFetched">
          <ion-icon name="checkmark" class="SyncFetchIcon"></ion-icon>
        </span>
        </button>
       
        <br  >
        <br [hidden]="global.isFetched">
        <br>
        <br>

        <p class="Hitxt">Last Fetched</p>
        <span class="Txt1">{{LastFechedDateTime}}</span>
        <br>
        <br>


      </div>
    </div>
    <br>
    <div class="card borderRadius cardShadow">

      <ion-row>
        <ion-col class="noPadding">

          <p class="Hitxt mb-0 pt-2 pb-2">Last 10 Fetched Data</p>
          <div class="table-responsive">
            <table class="table">
              <thead class="theadCustom">
                <tr>
                  <th>Sr No.</th>
                  <th>Fetch Date</th>
                  <th>Records Fetch</th>
                </tr>
                
              </thead>
              
               <tbody *ngFor="let item of FetchDataHistoryList;let i=index">
                <tr>
                  <td>{{i+1}}</td>
                  <td>{{this.global.GetRelativeTime(item.syncDateTime)}}</td>
                  <td>{{item.records}}</td>
                </tr>
             

              </tbody>
              <p style="text-align: center !important;" *ngIf="FetchDataHistoryList.length==0">Records not found</p>
           
            </table>
          </div>

        </ion-col>
      </ion-row>
    </div>
  </div>
</div>