<div class="container ">


  <div class="EnableHorizontalScroll">
    <button type="button" id="AR" class="btn  animate__animated aanimate__fadeInUp"
      [ngClass]="highlightedDiv == 1 ? 'active' : 'notActive'" (click)="GetAllReadingFeedback(1)">

      All Reading</button>
    <button type="button" id="MR" class="btn  animate__animated aanimate__fadeInUp"
      [ngClass]="highlightedDiv == 2 ? 'active' : 'notActive'" (click)="GetMeterReadingList(2)">Meter Reading</button>
    <button type="button" id="MF" class="btn  animate__animated aanimate__fadeInUp"
      [ngClass]="highlightedDiv == 3 ? 'active' : 'notActive'" (click)="GetFeedBackList(3)">Meter Feedback</button>

  </div>
  <br>

  <!-- green border -->
 
  <ng-container *ngFor="let meter of this.global.MeterReadingList">
    <div [ngClass]="meter.IsReadingAdded==true?'card cardShadow borderRadius borderLeftGreen':'card cardShadow borderRadius borderLeftYellow'" (click)="btnEdit(meter.IsReadingAdded==true?meter.MeterID:meter.FeedbackId,meter.IsReadingAdded==true?1:2)">
      <!-- <h5 *ngIf="this.global.MeterReadingList.length==0">No Log Found</h5> -->
      <div class="card-body noPadding">
        <ion-row>
          <ion-col size="5">
            <p class="Hitxt mb-0 ">Meter No.</p>
            <span class="Txt1 ">{{meter.MeterNo}}</span>
          </ion-col>
          <ion-col size="7" class="textRight">
            <p class="Hitxt mb-0 " *ngIf="meter.IsReadingAdded==true">Reading Date</p>
            <p class="Hitxt mb-0 " *ngIf="meter.IsFeedbackAdded==true">Feedback Date</p>
            <span class="Txt2">{{meter._date}}</span>

          </ion-col>

          <ion-col size="7">
            <p class="Hitxt mb-0 ">Consumer </p>
            <span class="Txt1">{{meter.ConsumerName}}</span>
          </ion-col>
          <ion-col size="5" class="textRight" *ngIf="meter.IsReadingAdded==true">
            <p class="Hitxt mb-0" >Curr.Reading </p>
            <span class="Txt1">{{meter.CurrentReading}}</span>
          </ion-col>

          <ion-col size="5" class="textRight" *ngIf="meter.IsFeedbackAdded==true">
            <p class="Hitxt mb-0" >Feedback Status </p>
            <span class="Txt1">{{meter.status}}</span>
          </ion-col>
        </ion-row>

      </div>
      <div class="card-footer logFooter " *ngIf="CheckIsSync(meter.IsReadingAdded==true?1:2,meter)==true" >
        <span>
          <ion-icon name="checkmark-circle-outline" class="CheckIconGreen"></ion-icon>
        </span><span class="greentxt ">&nbsp; Synced</span> &nbsp; <span class="Hitxt textRight"> on 7 April 2021 12:46
          PM</span>

      </div>
      <div class="card-footer logFooter" *ngIf="CheckIsSync(meter.IsReadingAdded==true?1:2,meter)==false" style="align-items: center;display: flex;">
        <span>
          <ion-icon name="close-circle-outline" class="CheckIconRed"></ion-icon>
        </span><span class="redTxt ">&nbsp; Not Synced</span>
      </div>

    </div>
  </ng-container>

  <br>
  <!-- <Div class="card cardShadow borderRadius borderLeftYellow" (click)="btnEdit()">

    <div class="card-body noPadding">


      <ion-row>
        <ion-col size="5">
          <p class="Hitxt mb-0 ">Meter No.</p>
          <span class="Txt1 ">PEL 0032432</span>
        </ion-col>
        <ion-col size="7" class="textRight">
          <p class="Hitxt mb-0 ">Reading Date</p>
          <span class="Txt2"> 7 April 2021 12:46 PM</span>

        </ion-col>

        <ion-col size="7">
          <p class="Hitxt mb-0 ">Consumer </p>
          <span class="Txt1">Masood Asalm</span>
        </ion-col>
        <ion-col size="5" class="textRight">
          <p class="Hitxt mb-0 ">Meter Status </p>
          <span class="Txt1">House Locked</span>
        </ion-col>


      </ion-row>

    </div>
    <div class="card-footer logFooter" style="    align-items: center;display: flex;">
      <span>
        <ion-icon name="close-circle-outline" class="CheckIconRed"></ion-icon>
      </span><span class="redTxt ">&nbsp; Not Synced</span>
    </div>

  </Div>

  <br>
  <Div class="card cardShadow borderRadius borderLeftYellow" (click)="btnEdit()">

    <div class="card-body noPadding">


      <ion-row>
        <ion-col size="5">
          <p class="Hitxt mb-0 ">Meter No.</p>
          <span class="Txt1 ">PEL 0032432</span>
        </ion-col>
        <ion-col size="7" class="textRight">
          <p class="Hitxt mb-0 ">Reading Date</p>
          <span class="Txt2"> 7 April 2021 12:46 PM</span>

        </ion-col>

        <ion-col size="7">
          <p class="Hitxt mb-0 ">Consumer </p>
          <span class="Txt1">Masood Asalm</span>
        </ion-col>
        <ion-col size="5" class="textRight">
          <p class="Hitxt mb-0 ">Meter Status </p>
          <span class="Txt1">Faulty</span>
        </ion-col>


      </ion-row>

    </div>
    <div class="card-footer logFooter" style="    align-items: center;display: flex;">
      <span>
        <ion-icon name="close-circle-outline" class="CheckIconRed"></ion-icon>
      </span><span class="redTxt ">&nbsp; Not Synced </span>
    </div>

  </Div>

  <br>
  <Div class="card cardShadow borderRadius borderLeftGreen" (click)="btnEdit()">

    <div class="card-body noPadding">


      <ion-row>
        <ion-col size="5">
          <p class="Hitxt mb-0 ">Meter No.</p>
          <span class="Txt1 ">PEL 0032432</span>
        </ion-col>
        <ion-col size="7" class="textRight">
          <p class="Hitxt mb-0 ">Reading Date</p>
          <span class="Txt2"> 7 April 2021 12:46 PM</span>

        </ion-col>

        <ion-col size="7">
          <p class="Hitxt mb-0 ">Consumer </p>
          <span class="Txt1">Masood Asalm</span>
        </ion-col>
        <ion-col size="5" class="textRight">
          <p class="Hitxt mb-0 ">Curr.Reading </p>
          <span class="Txt1">123456</span>
        </ion-col>


      </ion-row>

    </div>
    <div class="card-footer logFooter ">
      <span>
        <ion-icon name="checkmark-circle-outline" class="CheckIconGreen"></ion-icon>
      </span><span class="greentxt ">&nbsp; Synced</span> &nbsp; <span class="Hitxt textRight"> on 7 April 2021 12:46 PM</span>

    </div>

  </Div> -->
  <br>
  <br>
  <br>
  <br>
</div>

<!-- comment old div -->
<!-- <Div class="card cardShadow borderRadius borderLeftYellow" >

  <div class="card-body noPadding">


    <ion-item lines="none">
      <ion-note slot="start">
        <p class="Hitxt mb-0 ">Meter No.</p>
        <span class="Txt1 ">PEL 0032432</span>

        <p class="Hitxt mb-0 ">Consumer </p>
        <span class="Txt1">Masood Asalm</span>

        <p class="Hitxt mb-0 ">Reading </p>
        <span class="Txt1">1</span>
      </ion-note>

      <ion-note class="Hitxt" slot="end">
        <p class="Hitxt mb-0 ">Supp No.</p>
        <span class="Txt1"> 32432</span>
        <p class="Hitxt mb-0 ">Consumer No.</p>
        <span class="Txt1"> 32432</span>
        <p class="Hitxt mb-0 ">Date/Time</p>
        <span class="Txt1"> 7 April 2021,<br> 12:46 PM</span>

      </ion-note>

    </ion-item>
  </div>
  <div class="card-footer" style="    align-items: center;display: flex;">
    <span>
      <ion-icon name="close-circle-outline" class="CheckIconRed"></ion-icon>
    </span><span class="redTxt ">&nbsp; Not Synced</span>
  </div>

</Div> -->