<div class="container ">


  <br>

  <!-- green border -->
  <Div class="card cardShadow borderRadius borderLeftGreen" (click)="btnEdit()" >

    <div class="card-body noPadding">
      

      <ion-row>
        <ion-col size="5">
          <p class="Hitxt mb-0 ">Meter No.</p>
          <span class="Txt1 ">PEL 0032432</span>
        </ion-col>
        <ion-col size="7">
          <p class="Hitxt mb-0 ">Reading Date</p>
          <span class="Txt2"> 7 April 2021 12:46 PM</span>

        </ion-col>
        

        <ion-col size="5"> <p class="Hitxt mb-0 ">Curr.Reading </p>
          <span class="Txt1">123456</span></ion-col>
          <ion-col size="7">
            <p class="Hitxt mb-0 ">Consumer </p>
            <span class="Txt1">Masood Asalm</span>
          </ion-col>
       
      </ion-row>
      
    </div>
    <div class="card-footer logFooter " style="    ">
        <span>
        <ion-icon name="checkmark-circle-outline" class="CheckIconGreen"></ion-icon>
      </span><span class="greentxt ">&nbsp; Synced</span>
      
    </div>

  </Div>
  <br>
  <Div class="card cardShadow borderRadius borderLeftYellow" >

    <div class="card-body noPadding">
      

      <ion-row>
        <ion-col size="5">
          <p class="Hitxt mb-0 ">Meter No.</p>
          <span class="Txt1 ">PEL 0032432</span>
        </ion-col>
        <ion-col size="7">
          <p class="Hitxt mb-0 ">Reading Date</p>
          <span class="Txt2"> 7 April 2021 12:46 PM</span>

        </ion-col>
        

        <ion-col size="5"> <p class="Hitxt mb-0 ">Curr.Reading </p>
          <span class="Txt1">123456</span></ion-col>
          <ion-col size="7">
            <p class="Hitxt mb-0 ">Consumer </p>
            <span class="Txt1">Masood Asalm</span>
          </ion-col>
       
      </ion-row>
      
    </div>
    <div class="card-footer logFooter" style="    align-items: center;display: flex;">
      <span>
        <ion-icon name="close-circle-outline" class="CheckIconRed"></ion-icon>
      </span><span class="redTxt ">&nbsp; Not Synced</span>
    </div>

  </Div>

<!-- yellow border -->
 
  <br>


</div>

<!-- comment old div -->
<!-- <Div class="card cardShadow borderRadius borderLeftYellow" >

  <div class="card-body noPadding">


    <ion-item lines="none">
      <ion-note slot="start">
        <p class="Hitxt mb-0 ">Meter No.</p>
        <span class="Txt1 ">PEL 0032432</span>

        <p class="Hitxt mb-0 ">Consumer </p>
        <span class="Txt1">Masood Asalm</span>

        <p class="Hitxt mb-0 ">Reading </p>
        <span class="Txt1">1</span>
      </ion-note>

      <ion-note class="Hitxt" slot="end">
        <p class="Hitxt mb-0 ">Supp No.</p>
        <span class="Txt1"> 32432</span>
        <p class="Hitxt mb-0 ">Consumer No.</p>
        <span class="Txt1"> 32432</span>
        <p class="Hitxt mb-0 ">Date/Time</p>
        <span class="Txt1"> 7 April 2021,<br> 12:46 PM</span>

      </ion-note>

    </ion-item>
  </div>
  <div class="card-footer" style="    align-items: center;display: flex;">
    <span>
      <ion-icon name="close-circle-outline" class="CheckIconRed"></ion-icon>
    </span><span class="redTxt ">&nbsp; Not Synced</span>
  </div>

</Div> -->