<ion-header class="ion-no-border">
  <ion-toolbar class="ClasToolbar">
    <!-- <ion-buttons routerLink="/home" slot="start">
      <ion-icon name="chevron-back" class="LogoutIcon"></ion-icon>
    </ion-buttons> -->
    <ion-icon name="arrow-back-outline" (click)="back()" slot="start" style="margin-left: 5px;" ></ion-icon>
    <ion-title >Sync Data</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
<app-cp-sync-data></app-cp-sync-data>
</ion-content>
<ion-footer>
  <app-cp-tabs></app-cp-tabs>
</ion-footer>
