<ion-header class="ion-no-border">
  <ion-toolbar class="ClasToolbar">
    <!-- <ion-buttons routerLink="/home" slot="start">
      <ion-icon name="chevron-back" class="LogoutIcon"></ion-icon>
    </ion-buttons> -->
    <!-- <ion-title >Add Meter Reading</ion-title>  -->
    <ion-row>
      <ion-col>
        <ion-searchbar (ionInput)="SearchConsumerMeter($event)" placeholder="Search by text" ></ion-searchbar>
      </ion-col>
      
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-cp-add-meter-reading></app-cp-add-meter-reading>
</ion-content>
<ion-footer *ngIf="isKeyboardHide">
  <app-cp-tabs></app-cp-tabs>
</ion-footer>
