<div class="container-fluid noPadding ContainerHeight">

  <br>
  <Div class="container">



    <!-- <ion-list style="padding-top:0 ;"> -->


      <!-- Multi-line sliding item with icon options on both sides -->
      <Div class="card cardShadow borderRadius" *ngIf="ConsumerData">


        <ion-item-sliding id="item100">
          <ion-item href="#" lines="none" class="borderRadius">
            <ion-note slot="start" >
              <ion-label>
                <p class="Hitxt mb-0 ">Meter No.</p>
                <span class="Txt1 ">{{ConsumerData.MeterNo}}</span>
                
                <p class="Hitxt mb-0 ">Consumer </p>

                <span class="Txt1">{{ConsumerData.ConsumerName}}</span>
              </ion-label>
            </ion-note>

            <ion-note class="Hitxt" slot="end">
              <ion-label class="textRight">
                <p class="Hitxt mb-0 ">Supp No.</p>
                <span class="Txt1"> {{ConsumerData.SuppMeterNo}}</span>
               
                <p class="Hitxt mb-0 ">Consumer No.</p>
                <span class="Txt1"> {{ConsumerData.ConsumerNo}}</span>

              </ion-label>
            </ion-note>
          </ion-item>

          <ion-item-options side="start">
            <ion-item-option routerLink="/meterreading" routerDirection="forward">
              <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="end">

            <ion-item-option color="dark" routerLink="/meterfeedback" routerDirection="forward">
              <ion-icon slot="icon-only" name="star"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </Div>

    <!-- </ion-list> -->

  

        <ion-row>
          <ion-col size="12">
            <label class="LabelTxt mb-2 mt-2">Status</label>


              <ion-item class="ion-no-padding ClasInput2">
                <ion-label class="LabelTxt" style="display: none;">Status</ion-label>
                <ion-select value="notifications" [(ngModel)]="meterFeedback.status" interface="action-sheet">
                  <ion-select-option [value]="Faulty" [selected]="meterFeedback.status">Faulty</ion-select-option>
                  <ion-select-option [value]="stopper">Stopped</ion-select-option>
                  <ion-select-option [value]="Tempered">Tempered</ion-select-option>
                  <ion-select-option [value]="Disconnected">Disconnected</ion-select-option>
                  <ion-select-option [value]="remove_stolen">Removed/Stolen</ion-select-option>
                  <ion-select-option [value]="house_locked">House Locked</ion-select-option>
                  <ion-select-option [value]="other">Other</ion-select-option>

                </ion-select>
              </ion-item>
          </ion-col>
        
        </ion-row>

        <ion-row>
          <ion-col size="12">
  
              <label class="LabelTxt mb-2">Comments</label>
              <textarea class="form-control ClasInput2" [(ngModel)]="meterFeedback.comments" id="exampleFormControlTextarea1" rows="3"></textarea>
          </ion-col>
        
        </ion-row>
     

    <br>
    <br>

    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="textCenter" >
        <button type="button" class="btn btnLogin" (click)="addMeterFeedback()" >Save Feedback</button>
      </ion-col>
      <ion-col size="1"></ion-col>

    </ion-row>
  </Div>
</div>