<div class="container-fluid noPadding ContainerHeight">

  <br>
  <Div class="container">



    <!-- <ion-list style="padding-top:0 ;"> -->


      <!-- Multi-line sliding item with icon options on both sides -->
      <Div class="card cardShadow borderRadius mb-3">


        <ion-item-sliding id="item100">
          <ion-item class="borderRadius" lines="none">
            <ion-note slot="start" >
              <ion-label>
                <p class="Hitxt mb-0 ">Meter No.</p>
                <span class="Txt1 ">PEL 0032432</span>
                
                <p class="Hitxt mb-0 ">Consumer </p>

                <span class="Txt1">Masood Asalm</span>
              </ion-label>
            </ion-note>

            <ion-note class="Hitxt" slot="end">
              <ion-label class="textRight">
                <p class="Hitxt mb-0 ">Supp No.</p>
                <span class="Txt1"> 32432</span>
                <br>
                <p class="Hitxt mb-0 ">Consumer No.</p>
                <span class="Txt1"> 32432</span>

              </ion-label>
            </ion-note>
          </ion-item>

          <ion-item-options side="start">
            <ion-item-option routerLink="/meterfeedback" routerDirection="forward">
              <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="end">

            <ion-item-option color="dark" routerLink="/meterreading" routerDirection="forward">
              <ion-icon slot="icon-only" name="star"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </Div>

    <!-- </ion-list> -->
  

        <ion-row class="mb-3">
          <ion-col size="6" class="textCenter ">
          <label class="LabelTxt mb-2">Previous Reading</label>

            <input type="text" class="form-control ClasInput2 textCenter" name="currentreading1" placeholder="3276376" disabled>

          </ion-col>
          <ion-col size="6" class="textCenter">
          <label class="LabelTxt mb-2">Current Reading</label>

            <input type="text" class="form-control ClasInput2 textCenter" name="currentreading" placeholder="current reading">
          </ion-col>
        </ion-row>
      

    <ion-row>
      <ion-col>
        <p class="Txt1 mb-2 ">Meter Image</p>
        <div class="noImg">Select Image</div>
      </ion-col>
    </ion-row>
<br>
<br>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="textCenter">
        <button type="button" class="btn btnLogin" routerLink="/addmeterreading">Save Meter Reading</button>
      </ion-col>
      <ion-col size="1"></ion-col>

    </ion-row>
  </Div>
</div>